<button class="refresh-feed">Refresh</button>

<h1><%= feed.escape('title') %></h1>

<ul class="entries-list">
  <% feed.entries().forEach( function(entry){ %>
      <li><%= entry.escape('title') %></li>
  <% }) %>
</ul>
